<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Employee Management System</title>

    <style>
        .error{
            color: red;
        }
    </style>

</head>
<body>

<!-- Importing Navbar	-->
<div th:insert="navbar.html :: navbar"></div>




<div class="container" sec:authorize="hasRole('ROLE_ADMIN')">

    <hr>

    <div th:if="${param.error}">
        <div class="alert alert-danger">You can not use same department name</div>
    </div>

    <div th:if="${param.success}">
        <div class="alert alert-info">You are successfully save new department ! </div>
    </div>
    <h2>Creating a new department</h2>
    <form action="#" th:action="@{/saveDepartment}" th:object ="${department}" method="POST">


        <p>
            <input type="text" th:field ="*{departmentName}" placeholder="Department Name" class="form-control mb-4 col-4">
            <span th:if="${#fields.hasErrors('departmentName')}" th:errorclass="error" th:errors="*{departmentName}"></span>
        </p>


        <button type="submit" class="btn btn-outline-info col-2"> Save Department</button>
        <button type="reset" class="btn btn-outline-warning col-2"> Reset</button>
        <a th:href = "@{/DepartmentList}" class="btn btn-outline-danger col-2">Return</a>

    </form>

</div>
</body>
</html>